# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/
.idea/compiler.xml
.idea/copyright/
.idea/gradle.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/workspace.xml
app/libs/
local.properties
toaster/libs/
